---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<style>
  .imgCarousel {
    max-height: 30rem;
    width: 100%;
    object-fit: cover;
  }
</style>

<script>
  import "@ui5/webcomponents/dist/Carousel.js";
</script>

<Layout title="ZSAP-ROMA">
    <ui5-carousel style="max-height:30rem" cyclic hide-page-indicator>
      <img src="./banner1.jpeg" alt="Banner" class="imgCarousel" />
      <img src="./banner2.jpeg" alt="Banner" class="imgCarousel" />
      <img src="./banner3.jpeg" alt="Banner" class="imgCarousel" />
    </ui5-carousel>
    <main>
      <ui5-bar style="margin-top: 1rem; margin-bottom: 1rem;">
        <ui5-title level="H2">Di cosa parliamo</ui5-title>
      </ui5-bar>
      <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); gap: 1rem;">
        <Card href="/zsap-roma.org/s-4hana" title="SAP S/4HANA" body="SAP S/4HANA è la suite di gestione aziendale di nuova generazione, che offre un'esperienza utente personalizzata con SAP Fiori. Questa soluzione è progettata per essere eseguita su SAP HANA, la piattaforma di elaborazione in memoria di SAP." />
        <Card href="/zsap-roma.org/btp" title="SAP BTP" body="SAP Build technology platform è una piattaforma cloud che offre un insieme di servizi e tecnologie per costruire, estendere e integrare applicazioni." />
        <Card href="/zsap-roma.org/fiori" title="SAP Fiori" body="SAP Fiori è un insieme di linee guida per la progettazione di applicazioni che offrono un'esperienza utente intuitiva e uniforme su qualsiasi dispositivo." />
        <Card href="/zsap-roma.org/cpi" title="SAP CPI" body="SAP Cloud Platform Integration è un servizio di integrazione cloud che consente di connettere processi e dati tra sistemi cloud e on-premise." />
      </div>
    </main>
</Layout>
