---
interface Props {href : string; title: string; body: string;}

const { href,title, body } = Astro.props;
---
<script>
  // components
  import "@ui5/webcomponents/dist/Card.js";
  import "@ui5/webcomponents/dist/CardHeader.js";
  // icon

  import "@ui5/webcomponents-icons/dist/sap-logo-shape.js";
</script>
<!-- <a href=""> -->
	<ui5-card>
		<ui5-card-header slot="header" title-text="SAP S/4HANA">
			<ui5-icon name="sap-logo-shape" slot="avatar"></ui5-icon>
		</ui5-card-header>

		<div style="padding: 0 1.2rem 1.2rem 1.2rem">
		<ui5-title level="H4" style="margin-bottom: 1rem;">{title}</ui5-title>
		<ui5-label wrapping-type="Normal">
			{body}
			<ui5-link href={href}  design="Emphasized">Learn more</ui5-link>
		</ui5-label>
	</div>
</ui5-card>
<!-- </a> -->